@import url(https://fonts.google.com/specimen/Overpass);

body {
  font-family: Overpass;
  background: hsl(216, 12%, 8%);
  color: hsl(217, 12%, 63%);
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container {
  background: linear-gradient(hsl(213, 19%, 18%), hsl(216, 12%, 8%) 161%);
  width: 21vw;
  display: block;
  margin: auto;
  padding: 10px 10px;
  border-radius: 15px;
}
p {
  font-size: 15px;
  font-weight: 400;
}
h1 {
  font-size: 15px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.circle,
.star {
  display: flex;
  background: hsl(213, 19%, 25%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.circle:hover,
p.circle:hover {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%) !important;
}

.rating_container {
  display: flex;
  justify-content: space-between;
}
button {
  background-color: hsl(25, 97%, 53%);
  border-radius: 15px;
  margin: auto;
  display: block;
  width: 100%;
  height: 40px;
  cursor: pointer;
}
button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}
.main_content {
  margin: 20px 10px;
}

.active {
  background: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 8px;
}

.result p {
  color: hsl(25, 97%, 53%);
  font-size: 15px;
}

#thanks_section {
  min-height: 100vh;
  display: none;
}
